[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bursa"]
	path = bursa
	url = https://github.com/ozancanozdemir/bursa
[submodule "izmir"]
	path = izmir
	url = https://github.com/ozancanozdemir/izmir
[submodule "turkeyelections"]
	path = turkeyelections
	url = https://github.com/ozancanozdemir/turkeyelections
